body{
    background-color: white;
}

.container {
    margin: 20%;	/* adiciona uma margem para centralizar os quadrados na tela*/
    display: flex;	/* coloca os quadrados lado a lado */
    gap: 10px;	/* adiciona espaços iguais entre cada quadrado */
}